@font-face {
  font-family: "Lato"; /* Имя шрифта */
  src: url(../fonts/Lato-Black.ttf) format("truetype"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Lato"; /* Имя шрифта */
  font-weight: 600;
  src: url(../fonts/Lato-Bold.ttf) format("truetype"); /* Путь к файлу со шрифтом */
}
